header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
     margin: auto;
     padding: 20px;

    & nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    & nav a{
        text-decoration: none;
        color: black;
        margin: 20px;
        font-size: 25px;
        transition: all .3s;
    }

    & nav a:hover{
        color: #c7a17a;
    }

    & img{
        justify-content: flex-start;
        margin-right: 5%;

    }
}